.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.galeria img.foto {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 20px #00d2ff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.galeria img.foto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 35px #00fff7;
}
